:root {
    --v-theme-overlay-multiplier: 1;
}

main {
    height: 100%;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #007EA1;
}

div.custom_background{
    position: relative;
    margin: 0;
    padding: 0;
}


div.custom_background:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    content: '';
    background-image: url('@/assets/UCA-Logo-1niveau-RVB-background.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    transform: rotate(180deg);
}

/*.logo {*/
/*    font-family: 'Damion', cursive;*/
/*}*/

.bg-gradiant {
    background: linear-gradient(90deg, #007EA1 0%, #00AFD7 100%) !important;
}