$body-font-family: 'Brother 1816 book';
$sub-title-font: 'Brother 1816 bold';
$title-font: 'Apex New';

.v-application, .v-overlay-container {
  [class*='text-']{
    &[class*='text-h'] {
      font-family: $title-font, sans-serif !important;
    }
    &[class*='text-subtitle-']{
      font-family: $sub-title-font, sans-serif !important;
      font-weight: 700;
    }
    font-family: $body-font-family, sans-serif !important;
  }
  [class*='v-btn']{
    font-family: $sub-title-font, sans-serif !important;
    font-weight: 700;
  }
  .title,.logo,h1,h2,h3,h4,h5,h6{
    font-family: $title-font, sans-serif !important;
  }
  font-family: $body-font-family, sans-serif !important;
}

#app {
  font-family: $body-font-family, sans-serif !important;
  .title {
    font-family: $title-font, sans-serif !important;
  }
}